<!--
    Para o form funcionar precisa:
    - usuario-cadastro.componente.ts, nomeio os parametros
        ----:  selector: 'usuario-cadastro',
        ----:  templateUrl: './usuario-cadastro.component.html',
        ----:  adiciono a classe usuario publicamente: public usuario:Usuario = new Usuario()
        ----:  faço o import da classe FormsModule: usuario.module.ts
                import { FormsModule} from '@angular/forms'
        ----:  adiciono as rotas: usuario.routing.module.ts
                {
                   path: 'add',
                   component: UsuarioCadastroComponent
                }
    - usuario-cadastro.componente.html
-->
<h3></h3>
<span class="ui-float-label">
    <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
        <input type="text" name="nome"  pInputText [(ngModel)]="usuario.nome" placeholder="Username">         
    </div>
</span>
<h3></h3>
<span class="ui-float-label">
    <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-inbox"></i></span>
        <input type="email"  name="email" pInputText [(ngModel)]="usuario.email"  placeholder="Email">         
    </div>    
</span>
<h3></h3>

<button  pButton  (click)="salvar()" label="Salvar"></button>
<h3></h3>


    {{ usuario | json}}
